<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fally WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fally WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fally.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>526967B11DF827FB00A557B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526967C51DF827FB00A557B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526967D01DF827FB00A557B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526967D91DF827FB00A557B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
